.astrograph-s {
  transform: scale(0.45) !important;
  margin-bottom: -25px;
}
.astrocell {
  display: inline-block;
  /* border: 1px solid lightgray; */
  border-radius: 50%;
  color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
}

.mood-1 {
  background-image: url(component.png);
  background-position-x: -2px;
  background-position-y: -7px;
  background-size: 333%;
}

.mood-2 {
  background-image: url(component.png);
  background-position-x: -2px;
  background-position-y: -51px;
  background-size: 333%;
}

.mood-3 {
  background-image: url(component.png);
  background-position-x: -2px;
  background-position-y: -91px;
  background-size: 333%;
}

.power-1 {
  background-image: url(component.png);
  background-position-x: -47px;
  background-position-y: -2px;
  background-size: 333%;
}

.power-2 {
  background-image: url(component.png);
  background-position-x: -47px;
  background-position-y: -46px;
  background-size: 333%;
}

.power-3 {
  background-image: url(component.png);
  background-position-x: -47px;
  background-position-y: -88px;
  background-size: 333%;
}

.mind-1 {
  background-image: url(component.png);
  background-position-x: -87px;
  background-position-y: -2px;
  background-size: 333%;
}

.mind-2 {
  background-image: url(component.png);
  background-position-x: -90px;
  background-position-y: -46px;
  background-size: 333%;
}

.mind-3 {
  background-image: url(component.png);
  background-position-x: -90px;
  background-position-y: -90px;
  background-size: 333%;
}
